In [5]:
# import this package
from poloniex import Poloniex

# make an instance of poloniex.Poloniex
polo = Poloniex()
import pandas as pd
from time import time

In [3]:
type(polo)

poloniex.Poloniex

In [44]:
api = Poloniex(jsonNums=float)

#raw = api.returnChartData('BTC_LTC', period=api.DAY, start=time()-api.YEAR*10)
raw = api.returnChartData('BTC_LTC', period=300, start=time()-api.MONTH*3)

df = pd.DataFrame(raw)

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8640 entries, 0 to 8639
Data columns (total 8 columns):
close              8640 non-null float64
date               8640 non-null float64
high               8640 non-null float64
low                8640 non-null float64
open               8640 non-null float64
quoteVolume        8640 non-null float64
volume             8640 non-null float64
weightedAverage    8640 non-null float64
dtypes: float64(8)
memory usage: 540.1 KB

In [45]:
df.shape

(25920, 8)

In [35]:
# adjust dates format and set dates as index
df['date'] = pd.to_datetime(df["date"], unit='s')
df.set_index('date', inplace=True)

In [37]:
df.head()

,close,high,low,open,quoteVolume,volume,weightedAverage
date,,,,,,,
2020-05-22 21:01:01,0.004857,0.004857,0.004857,0.004857,0.000000,0.000000,0.004857
2020-05-22 21:06:01,0.004857,0.004857,0.004857,0.004857,0.000000,0.000000,0.004857
2020-05-22 21:10:00,0.004853,0.004853,0.004848,0.004852,20.083008,0.097354,0.004848
2020-05-22 21:15:00,0.004842,0.004854,0.004842,0.004854,0.000671,0.000003,0.004842
2020-05-22 21:20:00,0.004836,0.004840,0.004836,0.004840,0.265390,0.001284,0.004837