In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
from pandas_datareader import data as wb

In [3]:
tickers = ['PG', 'MSFT', 'F', 'GE']
mydata= pd.DataFrame()
for i in tickers:
    mydata[i] = wb.DataReader(i, data_source='yahoo', start='1995-1-1', end='2017-3-23')['Close']

In [4]:
mydata.head()

                  PG      MSFT          F        GE
Date
1995-01-03  15.59375  3.761719  10.173052  8.173077
1995-01-04  15.46875  3.789062  10.446766  8.173077
1995-01-05  15.25000  3.726562  10.355528  8.193109
1995-01-06  15.28125  3.789062  10.355528  8.153045
1995-01-09  15.21875  3.765625  10.538004  8.072917