In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas_datareader import data as wb
from keras.models import Sequential
from keras.layers import Dense, Dropout
from sklearn.preprocessing import MinMaxScaler

In [119]:
train = wb.DataReader('PETR4.SA', data_source='yahoo', start='2013-1-1', end='2017-12-31')[['Adj Close']]
train.head()

            Adj Close
Date
2013-01-02  16.813482
2013-01-03  17.419758
2013-01-04  17.445377
2013-01-07  17.146505
2013-01-08  16.651237

In [120]:
test = wb.DataReader('PETR4.SA', data_source='yahoo', start='2018-1-1', end='2018-1-31')[['Adj Close']]
test.head()

            Adj Close
Date
2018-01-02  15.354614
2018-01-03  15.493781
2018-01-04  15.521611
2018-01-05  15.614388
2018-01-08  15.799945

In [121]:
normalizador = MinMaxScaler()

In [122]:
train_normalizado = normalizador.fit_transform(train)
test_normalizado = normalizador.fit_transform(test)

In [123]:
type(train_normalizado)

numpy.ndarray

In [124]:
previsores = []
dados_reais = []

In [125]:
for i in range (90, 1245):
    previsores.append(train_normalizado[i-90:i])
    dados_reais.append(train_normalizado[i])
previsores = np.array(previsores)
dados_reais = np.array(dados_reais)

In [129]:
previsores.shape[1]

90

In [131]:
previsores = np.reshape(previsores, (previsores.shape[0], previsores.shape[1], 1))