In [3]:
from pandas_datareader import data as wb

In [6]:
PG = wb.DataReader('PG', data_source='yahoo', start='1995-1-1')

In [7]:
PG.head()

                High       Low      Open     Close     Volume  Adj Close
Date
1995-01-03  15.62500  15.43750  15.46875  15.59375  3318400.0   6.362402
1995-01-04  15.65625  15.31250  15.53125  15.46875  2218800.0   6.311406
1995-01-05  15.43750  15.21875  15.37500  15.25000  2319600.0   6.222151
1995-01-06  15.40625  15.15625  15.15625  15.28125  3438000.0   6.234900
1995-01-09  15.40625  15.18750  15.34375  15.21875  1795200.0   6.209402

In [8]:
PG.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6354 entries, 1995-01-03 to 2020-03-27
Data columns (total 6 columns):
High         6354 non-null float64
Low          6354 non-null float64
Open         6354 non-null float64
Close        6354 non-null float64
Volume       6354 non-null float64
Adj Close    6354 non-null float64
dtypes: float64(6)
memory usage: 347.5 KB

In [9]:
PG.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-03-23,103.750000,94.339996,100.190002,97.699997,17776800.0,97.699997
2020-03-24,104.000000,96.070000,101.230003,103.269997,14625500.0,103.269997
2020-03-25,104.699997,98.599998,100.510002,100.919998,13789100.0,100.919998
2020-03-26,108.309998,102.529999,103.879997,107.379997,15796000.0,107.379997
2020-03-27,110.849998,106.500000,106.489998,109.610001,4768282.0,109.610001