In [14]:
from pandas_datareader import data as wb
import pandas as pd

In [4]:
pg = wb.DataReader('PG', data_source='yahoo', start='1995-1-1')

In [10]:
pg.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-04-03,115.900002,113.010002,113.739998,115.080002,7768700.0,115.080002
2020-04-06,119.000000,114.580002,117.000000,117.809998,16848400.0,117.809998
2020-04-07,120.059998,112.500000,116.709999,112.769997,14438400.0,112.769997
2020-04-08,117.300003,111.860001,114.389999,115.099998,12564500.0,115.099998
2020-04-09,118.660004,114.199997,115.260002,114.660004,12748600.0,114.660004

In [9]:
pg.iloc[1]

High         1.565625e+01
Low          1.531250e+01
Open         1.553125e+01
Close        1.546875e+01
Volume       2.218800e+06
Adj Close    6.311406e+00
Name: 1995-01-04 00:00:00, dtype: float64

In [11]:
pg.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6363 entries, 1995-01-03 to 2020-04-09
Data columns (total 6 columns):
High         6363 non-null float64
Low          6363 non-null float64
Open         6363 non-null float64
Close        6363 non-null float64
Volume       6363 non-null float64
Adj Close    6363 non-null float64
dtypes: float64(6)
memory usage: 348.0 KB

In [23]:
tickets = ['PG', 'MSFT', 'T', 'F', 'GE']
new_data = pd.DataFrame()
for x in tickets:
    new_data[x] = wb.DataReader(x, data_source='yahoo', start='1995-1-1', end = '2017-03-22')['Adj Close']

In [24]:
new_data.tail()

                   PG       MSFT          T          F         GE
Date
2017-03-16  83.470169  61.450130  35.218681  10.632527  26.511957
2017-03-17  83.068504  61.668781  35.359760  10.448341  26.627811
2017-03-20  83.269333  61.725811  35.202087  10.280901  26.503046
2017-03-21  83.241959  61.041351  34.919945   9.812062  26.191143
2017-03-22  83.059387  61.820881  34.563110   9.853926  26.315897