In [4]:
import quandl
import pandas as pd

In [5]:
my_data_01 = quandl.get("FRED/GDP")

In [9]:
my_data_01.head()

              Value
Date
1947-01-01  243.164
1947-04-01  245.968
1947-07-01  249.585
1947-10-01  259.745
1948-01-01  265.742

In [7]:
my_data_01.to_csv('data/teste.csv')

In [8]:
my_data_01.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 292 entries, 1947-01-01 to 2019-10-01
Data columns (total 1 columns):
Value    292 non-null float64
dtypes: float64(1)
memory usage: 4.6 KB